<a href="https://colab.research.google.com/github/Janasgit/week6_DataScienceEcosystem/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. R
2. SQL
3. Julia
4. Scala
5. MATLAB
6. Java
7. Hadoop
8. C++
9. Python

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. Matplotlib
3. Seaborn
4. SciPy
5. ggplot2
6. shiny
7. NumPy

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| VS Code |
| Rstudio |

###Below are a few examples of evaluating arithmetic expressions in Python.

result = 5 + 3  # Addition

result = 10 - 2  # Subtraction

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

**Objectives:**


* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Create a table in a markdown cell
* Write and run an arithmetic expression

##Jana Lorch